/* Form header */
.form .form-header{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.form .form-header .links{
    display: grid;
    width: max-content;
    grid-template-columns: auto auto;
    gap: 10px;
    align-content: center;
}

.form .form-header .links h4{
    margin-top: 0;
}

.form .form-header .links a{
    text-decoration: none;
}

.form .form-header .links a:visited{
    color: var(--font-color-principal);
}
.form .form-header .links>.current>a{
    pointer-events: none;
    color: var(--color-principal);
    font-weight: 900;
}

/* Form content */

.form .form-content{
    display: flex;
    flex-direction: column;
    padding: 0 30px 30px;
}

.container-tarjeta{
    display: flex;
    flex-direction: column;
    padding: 30px;
}

