.form-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-layout>button {
    width: 300px;
    height: var(--input-height);
    margin: 0px auto 5px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
    letter-spacing: .5px;
    color: var(--blanco);
    box-shadow: 0px 5px 20px -5px var(--color-principal);
    transition: .2s;
}

.form-layout button:hover {
    filter: brightness(1.12);
}

.form-layout .forgot {
    text-align: center;
    color: inherit;
    font-size: 14px;
}

.form-container {
    width: 70vw;
    max-width: 1200px;
    height: 75svh;
    max-height: 600px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: var(--blanco);
    border-radius: 20px;
    box-shadow: 0px 0px 5px 5px rgb(209, 209, 209);
    color: var(--font-color-principal);
}

.vertical {
    width: 100% !important;
    margin-bottom: 20px;
}

.form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    box-sizing: border-box;
}

.form-input {
    position: relative;
    border-bottom: 2px solid var(--color-principal);
    margin: 5px 0;
}

.form-input>input, .form-input>select {
    width: 100%;
    height: var(--input-height);
    border: none;
    font-size: inherit;
    padding-left: 10px;
    box-sizing: border-box;
}

.form-input>label {
    position: absolute;
    width: 30px;
    right: 0;
    top: 15px;
    color: var(--font-color-principal);
}

.form-checkbox{
    height: var(--input-height);
    display: grid;
    place-content: center;
}

.form-checkbox>div{
    display: flex;
    gap: 5px;
}

.form-checkbox>div>input{
    width: 20px;
    height: 20px;
}

/* Degradado */
.degraded-black .form-input {
    color: var(--blanco);
}

.degraded-black .form-input input {
    color: inherit;
    background-color: transparent;
}

.degraded-black .form-input input::placeholder {
    color: var(--blanco);
}

.divided {
    display: grid;
    grid-template-columns: 47% 47%;
    gap: 6%;
}

.registro {
    width: 100%;
    box-shadow: none;
    display: flex;
    height: max-content;
}

.registro .form {
    width: 100%;
    justify-content: flex-start;
}

.img {
    border-radius: 0 20px 20px 0;
    max-height: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    background-color: rgba(52, 52, 52, 0.423);
    border-radius: 50%;
}
.img-park{
    max-width: 90%;
    max-height: 90%;
}
@media screen and (max-width: 768px) {
    .form-container .divided {
        grid-template-columns: 100%;
        gap: 0px;
    }
}


@media screen and (max-width: 1024px) {
    .form-container {
        width: 90vw;
        height: max-content;
    }
}

@media screen and (max-width: 768px) {
    .form-layout {
        margin: 20px 0;
    }

    .form-layout>button {
        width: 70%;
    }

    .form-container {
        height: max-content;
        margin-bottom: 20px;
        grid-template-columns: 100%;
    }

    .login {
        grid-template-rows: 100%;
        place-content: center;
        box-shadow: 0px 0px 5px 5px var(--color-secondary);
    }

    .login .img {
        display: none;
    }

    .register .img {
        border-radius: 0px 0px 20px 20px;
    }

}