.search-bar{
  width: 450px;
  height: 40px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: auto 100px;
  border-radius: 5px;
}

.search-bar>*{
  border: none;
}

.search-bar :nth-child(1){
  border-radius: 5px 0 0 5px;
}

.search-bar :nth-child(2){
  border-radius:  0 5px 5px 0;
}

.search-bar>button{
  font-size: 22px;
  color: var(--color-secondary);
  background-color: var(--negro);
}

.cards-container{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 48%);
  gap: 4%;
}