.parkud-header{
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  background-color: var(--blanco);
  padding: 2px 10px;
  box-sizing: border-box;
}

.parkud-header .options{
  display: flex;
  justify-content: space-between;
  gap: 5px;
  place-items: center;
  color: var(--font-color-principal);
  width: 500px;
}

.parkud-header .options a{
  display: block;
  width: fit-content;
  height: 30px;
  text-decoration: none;
  color: inherit;
  line-height: 30px;
  text-transform: capitalize;
}
.parkud-header .options a:visited{
  color: inherit;
}

.parkud-header .user-options{
  width: fit-content;
  display: flex;
  place-items: center;
  gap: 25px;
}

.parkud-header .user-options .user-icon{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: var(--font-color-principal);
}