.bg{
  width: 100%;
  min-height: 100svh;
  background-color: var(--color-bg);
}

.single-element{
  display: grid;
  place-content: center;
}

.degraded-orange{
  background: linear-gradient(to top, var(--color-principal), var(--color-secondary));
}

.degraded-black{
  background: linear-gradient(to top, var(--negro), var(--font-color-principal));
}