.bg{
  width: 100%;
  min-height: 100svh;
  background-color: var(--color-bg);
}

.single-element{
  display: grid;
  place-content: center;
}

.degraded-orange{
  background: linear-gradient(to top, var(--color-principal), var(--color-secondary));
}

.degraded-black{
  background: linear-gradient(to top, var(--negro), var(--font-color-principal));
}

.parkud{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.parkud *{
  margin: 0 !important;
}

.parkud :nth-child(2){
  margin: 0;
  color: var(--color-principal);
}

.parkud>span{
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 1px;
}

.clickable{
  cursor: pointer;
}

.clickable :hover{
  color: blue;
}