@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

:root{
  --color-principal: #FF8000;
  --color-secondary: #e9b42e;
  --color-bg: #f6f6f6;
  --color-bg-oscuro: #d9d9d9;
  --font-color-principal: #5f5f5f;
  --gris-claro: #e4e4e4;
  --blanco: #fff;
  --negro: #000;
  --verde: #1ee72f;
  --header-height: 60px;

  --input-height: 45px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px !important;
  background-color: var(--color-bg-oscuro) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@media screen and (max-width: 768px){
  body{
    font-size: 14px;
  }
}